* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
}

#navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li a {
  color: black;
  opacity: 0.8;
  padding: 0 0 0 15px;
}

#navbar ul li a:hover {
  text-decoration: underline;
}

.logo {
  display: block;
  text-align: center;
  margin-top: 89px;
}

.search {
  font: 16px arial, sans-serif;
  display: flex;
  align-items: center;
  height: 44px;
  line-height: 34px;
  width: 450px;
  border: 1px solid lightgray;
  border-radius: 25px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background-color: transparent;
  cursor: text;
}

.google-apps {
  width: 33px;
  opacity: 0.5;
}
.Jimage {
  border-radius: 50px;
}

.container-buttons {
  text-align: center;
  border: none;
}
.button {
  height: 36px;
  color: rgb(88, 88, 88);
  border: none;
  padding: 10px 15px;
  background-color: #f2f2f2;
  border-radius: 4px;
  cursor: pointer;
}

.ball {
  height: 32px;
  width: 32px;
}

h2 {
  text-align: center;
  font-size: small;
  padding-top: 25px;
}

h2 > a {
  color: #1a0dab;
  text-decoration: none;
}

a:visited {
  color: #609;
}

#congrats a:hover {
  text-decoration: underline;
}

#main-footer {
  display: flex;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0px;
  justify-content: space-between;
  background-color: white;
  border-top: 1px solid #e4e4e4;
  height: 40px;
  font-size: 13px;
}

#main-footer .footer-left {
  display: flex;
  width: 50%;
  list-style-type: none;
  /* padding-left: 27px; */
}

#main-footer .footer-right {
  display: flex;
  width: 50%;
  list-style-type: none;
  justify-content: flex-end;
}
#main-footer ul li a {
  color: grey;
  padding: 0.75rem;
  align-items: flex-start;
}
#main-footer ul li a:hover {
  text-decoration: underline;
}
